body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  margin-top: 20px;
  background: #262626;
  -webkit-perspective: 800px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color: white;
  font: 16px "Century Gothic", Futura, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.back{
  text-align: center;
}

.circle {
  outline: none;
  background: transparent;
  font-size: 24px;
  padding: 0;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  cursor: pointer;
  border-radius: 50%;

}

.circle:focus {
  outline: 0;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.flippy-cardContainer
{
    height: 100%;
    width: 100%;
    position: relative;

    -webkit-transition: .6s;
       -moz-transition: .6s;
        -ms-transition: .6s;
         -o-transition: .6s;
            transition: .6s;
    -moz-transform: perspective(1000px);
         transform: perspective(1000px);

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.flippy-front,
.flippy-back
{
    position: relative;

    width: 100%;
    height: 100%;
    padding: 1em;

    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
            transform: rotateY(0deg);

    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.flippy-front
{
    -webkit-transform: rotateY(1200deg);
        -ms-transform: rotateY(1200deg);
            transform: rotateY(1200deg);
}

.flippy-back
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transform: rotateY(1080deg);
       -moz-transform: rotateY(1080deg);
        -ms-transform: rotateY(1080deg);
         -o-transform: rotateY(1080deg);
            transform: rotateY(1080deg);
}
