.Page {
  text-align: center;
  background-image: url("../Images/gamble.svg");
  background-color: #262626;
}

.Page-title {
  font-size: 1.75em;
}

.Page-intro {
  font-size: large;
}

.Page-body {

}

.textbox{
  margin-top: 40px;
  padding: 20px;
  color: lightgray;
  background-color: hsla(0, 0%, 100%, 0.3);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
