body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  -webkit-perspective: 800px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.circle {
  outline: none;
  background: transparent;
  font-size: 24px;
  padding: 0;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  cursor: pointer;
  border-radius: 50%;
}

.circle:focus {
  outline: 0;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
